<h1>API Admin</h1>
	<table border="5px">
	  <tr>
	    <th>Fungsi</th>
	    <th>Link</th>
	    <th>Verb</th>
	  </tr>
	  <tr>
	    <th>Create</th>
	    <th>http://159.89.194.18:3210/books</th>
	    <th>POST</th>
	  </tr>
	  <tr>
	    <th>Update</th>
	    <th>http://159.89.194.18:3210/books/id</th>
	    <th>PUT</th>
	  </tr>
	  <tr>
	    <th>Delete</th>
	    <th>http://159.89.194.18:3210/books/id</th>
	    <th>DELETE</th>
	  </tr>
	</table>
<br />
<br />
<h1>API User</h1>
	<table border="5px">
	  <tr>
	    <th>Fungsi</th>
	    <th>Link</th>
	    <th>Verb</th>
	  </tr>
	  <tr>
	    <th>GetAllBooks</th>
	    <th>http://159.89.194.18:3210/books</th>
	    <th>GET</th>
	  </tr>
	  <tr>
	    <th>DetailBooks</th>
	    <th>http://159.89.194.18:3210/books/id</th>
	    <th>GET</th>
	  </tr> 
	  <tr>
	    <th>Order</th>
	    <th>http://159.89.194.18:3210/orders</th>
	    <th>POST</th>
	  </tr>
	</table>
<br />
<br />
<h1>API Register & Login</h1>
	<table border="5px">
	  <tr>
	    <th>Fungsi</th>
	    <th>Link</th>
	    <th>Verb</th>
	  </tr>
	  <tr>
	    <th>Register</th>
	    <th>http://159.89.194.18:3210/user/register</th>
	    <th>POST</th>
	  </tr>
	  <tr>
	    <th>Login</th>
	    <th>http://159.89.194.18:3210/user/login</th>
	    <th>POST</th>
	  </tr> 
	</table>
